*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #F6F6F6;
}

section{
  min-height: 100vh;
}

.logo{
  height: 35px;
  width: 50px;
}

.gif{
  height: 200px;
}

.buto{
  color: #2B4753;
}

.navbar{
  background-color: #2B4753;
}

.nav-link{
  color: black;
  text-decoration: none;
}

h1, h2{
  font-family: 'Salsa', cursive;
}

.navbar-toggler-icon{
  color: black;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, yellow 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
